* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Header */

.header_nav {
  height: 66px;
}

header {
    background: linear-gradient(to bottom, #6395e7, #8cb7f8);
    color: white;
    padding: 5px;
    text-align: center;
}

header h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Navigation */
nav {
    margin: 0 auto;
    background: #bdd2f8;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -10px;
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px;
    border-radius: 5px;
}

nav button {
    background: #bdd2f8;
    color: blue;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    transition: all 0.3s;
}

nav button:hover {
    color: #e88b19;
    transform: translateY(-2px);
}

nav button.active {
    color: #e88b19;
    transform: translateY(-2px);
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33px;
    background: #eec695;
    color: white;
    padding: 20px;
    font-size: 0.9em;
    border: solid 3px #e9b576;
    border-radius: 5px;
}

footer p {
    color: #e88b19;
    margin-right: 10px;
}

footer button {
    background: #eec695;
    color: #e88b19;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    transition: all 0.3s;
}

footer button:hover {
    color: #e88b19;
    transform: translateY(-2px);
}


/* Vách ngăn giữa các button trong footer */
footer button:not(:last-child) {
    margin-right: 12px;
    position: relative;
}

footer button:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 60%;
    background: #e88b19;
    pointer-events: none;
}

footer button.active {
    background: #e88b19;
    color: #eec695;
}


.main-content {
  display: flex;
  flex-direction: row;
}

/* Side */
aside {
  width: 256px;
  padding: 15px;
}

.news-item {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: transform 0.1s ease;
}

.news-controls {
    margin-bottom: 5px;
    background-color: #f4a261;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}


.summary_arrow {
    cursor: pointer;
}

.move_arrow {
    cursor: ns-resize;
}

.news-item p {
    padding: 10px;
    display: none;
}

.news-item.dragging {
  background: #fef4e1;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.placeholder {
  border: 2px dashed #aaa;
  border-radius: 6px;
  margin-bottom: 8px;
  height: 50px;
}

/* Process Text */
.process-text-container {
  max-width: 1024px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.process-text-section {
  background: linear-gradient(to bottom, #7698e4, #7a8cd6);
  border-radius: 5px 5px 0 0;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.process-text-section h2 {
  color: white;
  text-align: center;
}

.template-paragraph {
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  min-height: 150px;
}

 /*Text Controls */
.text-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-controls #highlightBtn, #deleteBtn, #resetBtn {
  padding: 8px 12px;
  background: linear-gradient(to bottom, #518dee, #5560fa);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.text-controls #highlightBtn:hover, .text-controls #deleteBtn:hover, .text-controls #resetBtn:hover {
  background: linear-gradient(to bottom, #3a6fd1, #3f4fc3);
}

.text-controls #highlightBtn:active, .text-controls #deleteBtn:active, .text-controls #resetBtn:active {
  transform: translateY(2px);
}

/* Sample Text */
.text-highlight {
  display: flex;
  align-items: center;
  gap: 20px;
}

#searchInput {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: auto;
}

.highlight-dropdown {
  position: relative;
  display: flex;
}

.dropdown-btn {
  padding: 8px 12px;
  cursor: pointer;
  background: #4f89eb;
  border: none;
  border-radius: 50%;
}

.dropdown-btn:hover {
  background: #3a6fd1;
}

.dropdown-btn:active {
  transform: translateY(2px);
}

.dropdown-content {
  display: none; /* ẩn mặc định */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 100;
  padding: 8px;
}

.dropdown-content label {
  display: block;
  padding: 4px 0;
  cursor: pointer;
}

.highlight-dropdown.show .dropdown-content {
  display: block;
}

/* Drag and Drop */
.drag-drop-container {
  max-width: 1024px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.drag-drop-section {
  background: linear-gradient(to bottom, #7698e4, #7a8cd6);
  border-radius: 5px 5px 0 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 10px;
}

.drag-drop-section h2 {
  color: white;
}

.drag-drop-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.drag-drop-controls select {
    font-size: 1.5rem;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.drag-drop-controls button {
  padding: 8px 12px;
  background: linear-gradient(to bottom, #518dee, #5560fa);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.drag-drop-controls button:hover {
  background: linear-gradient(to bottom, #3a6fd1, #3f4fc3);
}

.drag-drop-controls button:active {
  transform: translateY(2px);
}

.drag-drop-container .dropZone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #fafafa;
  min-height: 330px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-content: flex-start;
  position: relative;
}